@import "https://fonts.cdnfonts.com/css/designer-thickers"
;@import "tailwindcss";
.font-beyonders { 
  font-family: 'Designer Thickers', sans-serif;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*/ .font-cursive {
  font-family: cursive;
}
/* Firefox and similar */
html {
  scrollbar-width: auto;
  /* auto | thin | none */
  scrollbar-color: #E63946 #0B1F3F;
  /* thumb | track */
}

/* Chrome, Edge, Safari, etc. */
body::-webkit-scrollbar {
  width: 14px;
  /* increased width */
}

body::-webkit-scrollbar-track {
  background: #0B1F3F;
  /* track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #E63946;
  /* thumb color */
  border-radius: 0;
  /* no rounding */
  border: 3px solid #0B1F3F;
  /* strong track border */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #FACC15;
  /* hover color */
}
